# Файлы, созданные компилятором Lazarus
*.exe
*.dll
*.so
*.dylib
*.lrs
*.res
*.compiled
*.dbg
*.ppu
*.o
*.or
*.a

# Автоматически сгенерированные файлы Lazarus
*.rst
*.rsj
*.lrt

# Локальные настройки пользователя
*.lps

# Папки с резервными копиями и результатами компиляции
backup/
*.bak
lib/

# Mac OS
*.app/
